body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    background-image: url('images/admission_background.png');
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    padding-top: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 43, 92, 0.8); 
    color: white;
    padding: 10px 20px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    backdrop-filter: blur(5px); 
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
}

.logo h4 {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.logo h5 {
    font-size: 0.9em;
    margin: 0;
    font-weight: normal;
}

.nav-bar {
    display: flex;
    gap: 30px;
    justify-content: flex-end; 
    flex-wrap: nowrap; 
    margin-left: auto;
    width: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease; 
    gap: 15px;
}

.nav-item img {
    height: 20px;
    transition: transform 0.3s ease;
}

.nav-item span {
    font-size: 0.9em;
    transition: transform 0.3s ease; 
}

.nav-item.active {
    text-decoration: underline;
    color: #ff9354; 
    font-weight: bold;
}

.nav-item:hover {
    color: #ff9354;
    transform: scale(1.1); 
    font-weight: bold;
}

.nav-item:hover img {
    transform: scale(1.1); 
}

.nav-item:hover span {
    transform: scale(1.1); 
}

.heading {
    text-align: center;
    background-color: #004a99;
    color: white;
    padding: 15px 0;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 5);
}

.heading h1 {
    font-size: 35px;
    margin: 0;
}

.date1, .date2, .date3, .date4 {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.date1, .date3{
    margin-left: 50px;
}

.date2, .date4 {
    text-align: right;
    margin-right: 50px; 
}

.title {
    display: block; 
    text-align: center; 
    font-size: 20px; 
}

.news1, .news2, .news3, .news4 {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news1 img, .news2 img, .news3 img, .news4 img {
    width: 550px; 
    height: auto;
    border-radius: 8px;
}

.news1 img:hover, .news2 img:hover, .news3 img:hover, .news4 img:hover{
    transform: scale(1.02); 
}

.news1 img, .news3 img{
    margin-left: 40px;
    margin-right: 20px;
}

.news2 img, .news4 img{
    margin-right: 40px;
    margin-left: 20px;
}

.news1 p, .news2 p, .news3 p, .news4 p {
    width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.767);
    font-size: 19px;
    margin: 0;
    color: #383838;
    padding: 20px;
}

.news1 p:hover , .news2 p:hover, .news3 p:hover, .news4 p:hover{
    background-color: white;
}

.news1 p, .news3 p{
    border-left: 5px solid #007bff;
    border-radius: 10px;

} 

.news2 p, .news4 p{
    border-right: 5px solid #007bff;
    border-radius: 10px;

} 

.news2, .news4 {
    flex-direction: row-reverse; 
}

.footer {
    background-color: #034188;
    color: white;
    padding-top: 40px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-left: 80px;
    margin-bottom: 20px;
    text-align: left;
    align-items: center;
}

.footer-section h3 {
    font-size: 23px;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
    text-decoration: underline;
}

.social-links a {
    display: block;
    color: white;
    margin: 5px 0;
    font-size: 18px;
    transition: color 0.3s;
}

.social-links i {
    margin-right: 8px;
}

.social-links a:hover {
    color: #ddd;
}

.footer-section address {
    font-size: 16px;
    line-height: 1.5;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.footer-logo {
    max-width: 300px; 
    margin-left: 100px;
}

.copyright-text {
    font-size: 14px;
    margin-right: 100px;
    white-space: nowrap; 
}

/* ======= PRELOADER ======= */
.preloader {
    position: fixed;
    background-color: #003366;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.preloader.show {
    opacity: 1; 
    visibility: visible;
}

#preloader-logo {
    width: 200px;
    filter: grayscale(100%);
    transition: filter 0.4s ease, opacity 0.4s ease;
}

#preloader-counter {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}